<nav>
   <div class="site-title">
      <a href="/">
         <h1>Blog Ninja</h1>
      </a>
      <p>Trying something new</p>
   </div>
   <ul>
      <li>
         <a href="/">home</a>
      </li>
      <li>
         <a href="/about">about</a>
      </li>
      <li>
         <a href="/blogs/create">create blog</a>
      </li>
   </ul>
</nav>
