<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head') %>

   <body>
      <%- include('./partials/nav') %>

      <div class="blogs content">
         <h2>About us page</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
            molestias illum hic blanditiis maiores tenetur?
         </p>
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
            tempora asperiores, quasi facere quo doloribus voluptatum nisi,
            impedit accusantium numquam nihil magnam maxime distinctio in?
         </p>
      </div>
   </body>
</html>
